.home-page-cont {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: calc(100vh - 5rem);
}
/* 
.image-cont {
  height: 85%;
  width: 35%;
  background-color: rgb(196, 196, 196);
} */

.logo {
  transform: rotate(-10deg);
  margin: 6.5rem 0 0 1.5rem;
  display: flex;
  align-items: center;
  width: 5rem;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  width: 900px;
}

/* @-webkit-keyframes mover {
  0% {
    /* transform: translateY(0); */
/* transform: none; */
/* } */
/* 100% { */
/* transform: translateY(-10px); */
/* transform: rotate(random($i) * (-1) * 1 + deg) scale(0.3 + $i * 0.1)
      translateY((random(20)) + px) translateX(random(20) + px); */
/* } */
/* } */

@keyframes mover {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-3px, -3px);
  }
}

.user-cont {
  height: 80%;
  width: 27%;
  position: absolute;
  top: 7rem;
  right: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  color: #e9e3e3;
  width: 75%;
  height: 60%;
  background-color: #1f84c7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(63, 63, 63, 0.432);
  border-radius: 10px;
}

.user-img-cont {
  height: 63%;
  width: 72%;
  background-color: aqua;
  border-radius: 50%;
}

.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.1rem solid black;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  color: #e9e3e3;
}

.any-word {
  font-weight: bold;
}

.quick-play-cont {
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-info {
  width: 85%;
  height: 25%;
  background-color: #2788c9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #e9e3e3;
  border-radius: 10px;
}

.play-icon {
  font-size: 2rem;
}

.play-btn {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #86056a 51%,
    #da22ff 100%
  );
}
.play-btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
}

.play-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
