.play-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 5rem);
  justify-content: space-evenly;
}

.modes {
  width: 70%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.coming-soon-img {
  width: 100%;
}

.modes-card {
  border: 1px solid rgba(31, 31, 31, 0.466);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.322);
  width: 27%;
  height: 100%;
  background-image: cover;
  transition: 0.3s;
}

.mode-selected {
  transform: scale(1.05);
  border-radius: 10px !important;
  box-shadow: rgb(0 183 255 / 40%) -5px 5px, rgb(46 162 240 / 30%) -10px 10px,
    rgb(78 194 234 / 20%) -15px 15px, rgb(126 211 243 / 10%) -20px 20px,
    rgb(167 215 238 / 5%) -25px 25px;
}

.modes-card:hover {
  border-radius: 10px !important;
  cursor: pointer;
  transform: scale(1.05);
}

.modes-card > span {
  width: 100%;
  height: 80%;
}

.modes-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.modes-title {
  background-color: #1f84c7;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: rgb(255, 242, 199);
  border-radius: 0px 0px 10px 10px;
}

.search-btn,
.create-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  transition: 100ms;
  border-radius: 8px;
  border: none;
}

.search-btn {
  background-color: rgb(0, 152, 223);
  border: 2px solid rgb(10, 99, 141);
  margin: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  margin-left: 0px;
  width: 100%;
}

.search-btn:hover {
  background-color: rgb(45, 177, 238);
  cursor: pointer;
}

.create-game {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #86056a 51%,
    #da22ff 100%
  );
}

.create-game {
  margin: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;
  text-decoration: none !important;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  margin-left: 0px;
  width: 100%;
}

.create-game:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.joinGame {
  height: 40px;
  width: 30ch;
  background-color: rgb(74, 152, 255);
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: 600;
}

.joinGame:hover {
  transition-duration: 300ms;
  transform: scale(1.03);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  margin: 0;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.395);
}

.name-textfield {
  height: 45px;
  outline: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 10px;
}

.room-textfield {
  width: 100%;
  height: 45px;
  outline: none;
  margin-bottom: 1rem;
  padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
