.draw-area {
  position: relative;
  background-color: white;
  padding: 0px;
  height: 75vh;
}

.Menu {
  backdrop-filter: brightness(60%) blur(5px);
  width: 100%;
  height: 10vh;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  top: 75vh;
}
.Small-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-picker {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: none;
}
.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-picker::-webkit-color-swatch {
  border: solid 1px #000; /*change color of the swatch border here*/
  border-radius: 40px;
}
.colorButton {
  width: 15x;
  height: 15px;
  float: left;
  display: flex;
  margin: 2px;
}
.color-wrapper {
  display: block;
}
.row,
.container-fluid {
  height: 84vh;
}
.menuButton {
  font-size: 30px;
}
@media (max-width: 1060px) {
  .Menu {
    height: 20vh;
    display: block;
  }
  .menuSilde {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }
}
